%clearfix
  &:after, &:before
    content: ""
    display: table
  &:after
    clear: both

body
  font: arial, san-serif
  font-size: 1em

nav 
  ul
    list-style: none
    text-align: center
    height: 40px
    float: right
  li
    @extend %clearfix 
    float: left
  a
    text-decoration: none
    color: #000
    display: block
    margin: 10px 10px
    
.bottom-nav
  position: fixed
  width: 100%
  bottom: 0px

.left-list
  float: left
  margin-left: -25px

.logo
  text-align: center
  img
    height: 231px
    margin-top: 20px
    width: 269px
    height: 95px

form
  text-align: center
  input
    margin: 0 auto
    width: 572px
  button
    width: 115px
    height: 20px
    font-size: 11px
